@{
    ViewData["Title"] = "About";
}


<!-- Jumbotron -->
<div class="jumbotron p-0 m-0">

    <!-- Card image -->
    <div class="view overlay rounded-top">
        <img src="~/images/about.jpg" class="img-fluid" alt="Sample image">
        <a href="#">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body text-center carousel-caption" style="top:20%;">

        <!-- Title -->

        <h1 class="card-title h1 my-2"><strong>Photograph Shelf</strong></h1>
        <!-- Text -->
        <p class="card-text py-2" style="margin-bottom:4%;">@ViewData["Message"]</p>

    </div>

</div>
<!-- Jumbotron -->