@{
    ViewData["Title"] = "Home";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <div class="py-2">
                    <h4>Arts</h4>
                </div>
                <a asp-controller="Page" asp-action="ViewPage" asp-route-category="Arts">
                    <img src="~/images/art.jpeg" class="rounded-circle" alt="Arts">
                </a>
                <figcaption class="figure-caption">View photographs of different arts and paintings</figcaption>
                <br>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <div class="py-2">
                    <h4>Landscapes</h4>
                </div>
                <a asp-controller="Page" asp-action="ViewPage" asp-route-category="Landscapes">
                    <img src="~/images/landscape.jpg" class="rounded-circle" alt="Landscapes">
                </a>
                <figcaption class="figure-caption">View photographs of picturesque landscapes</figcaption>
                <br>
            </div>
        </div>
        <div class="col-sm-3 col-md-3" style="margin-right:0">
            <div class="thumbnail">
                <div class="py-2">
                    <h4>People</h4>
                </div>
                <a asp-controller="Page" asp-action="ViewPage" asp-route-category="People">
                    <img src="~/images/people.jpg" class="rounded-circle" alt="People">
                </a>
                <figcaption class="figure-caption">View photographs of different people</figcaption>
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <div class="py-2">
                    <h4>Places</h4>
                </div>
                <a asp-controller="Page" asp-action="ViewPage" asp-route-category="Places">
                    <img src="~/images/default.jpg" class="rounded-circle" alt="Places">
                </a>
                <figcaption class="figure-caption">View photographs of different places and cities</figcaption>
                <br>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <div class="py-2">
                    <h4>Foods</h4>
                </div>
                <a asp-controller="Page" asp-action="ViewPage" asp-route-category="Foods">
                    <img src="~/images/food.jpeg" class="rounded-circle" alt="Food">
                </a>
                <figcaption class="figure-caption">Delve into photographs of amazing food</figcaption>
                <br>
            </div>
        </div>
        <div class="col-sm-3 col-md-3" style="margin-right:0">
            <div class="thumbnail">
                <div class="py-2">
                    <h4>Others</h4>
                </div>
                <a asp-controller="Page" asp-action="ViewPage" asp-route-category="Others">
                    <img src="~/images/others.jpg" class="rounded-circle" alt="Others">
                </a>
                <figcaption class="figure-caption">View photographs of mixed categories</figcaption>
                <br>
            </div>
        </div>
    </div>
    <br />

</div>