@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

@if (SignInManager.IsSignedIn(User))
{
    <link rel="stylesheet" href="~/mycss/style.css" />
    <link rel="stylesheet" href="~/mycss/bootstrap.min.css" />
    <ul class="navbar-nav bg-company-blue">
        <li class="nav-item active" style="margin-right:50px;">Hello, @UserManager.GetUserAsync(User).Result.UserName! </li>
        @if (User.IsInRole("USER"))
        {
        <li class="nav-item active" style="margin-right:20px;"><a style="color:white;" id="postLink" asp-controller="Post" asp-action="UploadPicture">Post a Picture</a></li>
        }
        @if(User.IsInRole("ADMIN")){
        <li class="nav-item active" style="margin-right:20px;"><a style="color:white;" id="categorizeLink" asp-controller="Post" asp-action="CategorizePicture">View Picture Uploads</a></li>

        }
    </ul>
    <form asp-area="" asp-controller="Home" asp-action="Logout" id="logoutForm" method="post" class="navbar-right">
        <ul class="navbar-nav navbar-right bg-company-blue">
            <li style="margin-right:10px;"><a style="color:white;" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav navbar-right bg-company-blue">
        <li class="nav-item active" style="margin-left:-90%; margin-right:20%;"><a style="color:white;" id="registerLink" asp-controller="Home" asp-action="Register">Register</a></li>
        <li class="nav-item active"><a style="color:white;" id="loginLink" asp-controller="Home" asp-action="Login">Login</a></li>
    </ul>
}